@model MyClass.Models.Order

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="content-wrapper">

    <!-- Main content -->
    <section class="content my-3">

        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-6">
                            <strong>Xác nhận xóa danh mục sản phẩm</strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <a href="@Url.Action("Edit","Order" , new { id = Model.Id })" class="btn btn-sm btn-success"><i class="fas fa-edit"></i> Cập nhật</a>
                            <a href="@Url.Action("Index","Order")" class="btn btn-sm btn-info"><i class="fas fa-long-arrow-alt-left"></i> Về danh sách</a>
                            <button class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i> Xóa</button>

                        </div>
                    </div>
                }
            </div>
            <div class="card-body ">
                <table class="table table-bordered">
                    <tr>
                        <th style="width:120px;">Tên trường</th>
                        <th>Nội dung</th>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UserId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UserId)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ReceiverAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ReceiverAddress)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ReceiverName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ReceiverName)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ReceiverEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ReceiverEmail)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.ReceiverPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ReceiverPhone)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Note)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Note)
                        </td>
                    </tr>
                   
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CreatedAt)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UpdateBy)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UpdateBy)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.UpdatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UpdatedAt)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Status)
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

    